{% load static %}
<!DOCTYPE html>
<html lang="en">
<script src="{% static 'js/components/angular.min.js' %}"></script>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration</title>
</head>
<body>
    <!-- header -->
    <div>{% include "header.html" %}</div>
    <!-- //header -->
<!-- breadcrumbs -->
    <div class="breadcrumbs">
		<div class="container">
              <ol class="breadcrumb breadcrumb1">
                <li class="breadcrumb-item"><a href="/"><span class="fa fa-home" aria-hidden="true"></span>หน้าแรก</a></li>
                <li class="breadcrumb-item"><a href="/account_register"><span class="fa fa-user-plus" aria-hidden="true"></span>ลงทะเบียน</a></li>
				<li class="breadcrumb-item active">ลงทะเบียนสำหรับผู้ซื้อ</li>
              </ol>
		</div>
    </div>
<!-- //breadcrumbs -->
    <!-- register -->
	<div class="register">
		<div class="container">
			<h3>Buyer Registration</h3>
			<div class="login-form-grids">
                <form name="form" ng-submit="vm.register()" role="form">
				<h5>ข้อมูลส่วนตัว</h5>
				<form>
					<div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                        <input type="text" placeholder="Enter Firstname" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
                        <small ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">Firstname is required</small>
                    </div>
					<div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
                        <input type="text" placeholder="Enter Lastname" name="lastName" id="lastName" class="form-control" ng-model="vm.user.lastName" required />
                        <small ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Lasttname is required</small>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.telephone.$dirty && form.telephone.$error.required }">
                        <input type="text" placeholder="Enter Telephone Number" name="telephone" id="telephone" class="form-control" ng-model="vm.user.telephone" required />
                        <small ng-show="form.telephone.$dirty && form.telephone.$error.required" class="help-block">Telephone number is required</small>
                    </div>
                   <div class="form-group" ng-class="{ 'has-error': form.displayName.$dirty && form.displayName.$error.required }">
                        <input type="text" placeholder="Enter Displayname" name="displayName" id="displayName" class="form-control" ng-model="vm.user.displayName" required />
                        <small ng-show="form.displayName.$dirty && form.displayName.$error.required" class="help-block">Displayname is required</small>
                    </div>
				</form>
				<h6>ข้อมูลเข้าสู่ระบบ</h6>
				<form>
					<div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                        <input type="text" placeholder="Enter Username" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
                        <small ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</small>
                    </div>
					<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <input type="password" placeholder="Enter Password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
                        <small ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</small>
                    </div>
					<input type="submit" value="ลงทะเบียน" ng-disabled="form.$invalid || vm.dataLoading">
                    <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a href="#!/login" class="btn btn-link">Cancel</a>
				</form>
			    </form>
            </div>
			<div class="register-home">
				<a href="/">หน้าแรก</a>
			</div>
		</div>
	</div>
<!-- //register -->
            <!-- footer -->
            <div>{% include "footer.html" %}</div>
            <!-- //footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>