{% load static %}
<!DOCTYPE html>
<html lang="en">
<script src="{% static 'js/components/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/components/angular.min.js' %}"></script>
<script src="{% static 'js/controllers/account/editCtrl.js' %}"></script>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Profile</title>
</head>
<body>
<!-- header -->
<div>{% include "header.html" %}</div>
<!-- //header -->
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1">
            <li class="breadcrumb-item"><a href="/"><span class="fa fa-home" aria-hidden="true"></span>หน้าแรก</a></li>
            <li class="breadcrumb-item"><a href="/account/profile/">ข้อมูลของฉัน</a></li>
            <li class="breadcrumb-item active">แก้ไขข้อมูล</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<div style="background: #F7F7F9">
    <div class="container">
        &nbsp;
        <div class="row profile">
            <div class="col-md-3 shadows"  style="background: #F5F5F5">
                <div>{% include "tab_menu_profile.html" %}</div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>

            <div class="col-md-9 shadows" >
                <div class="add">
                    <div class="container">
                        <h3>แก้ไขข้อมูลส่วนตัว</h3>
                        <p>จัดการข้อมูลส่วนตัวคุณเพื่อความปลอดภัยของบัญชีผู้ใช้นี้</p><hr>
                        <div ng-app="app" ng-controller="accountEditCtrl" ng-init="getAccountInfo({{ request.user.account.id }})">
                            {#                [[mama]]#}
                            <div class="form-group row">
                                <label for="input" class="col-sm-3 col-form-label" align="right">Display Name : </label>
                                <div class="col-sm-6">
                                    <input class="form-control col-sm-10" type="text" disabled ng-model="accountData.display_name">
                                    {#                        [[accountData.display_name]]#}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="input" class="col-sm-3 col-form-label" align="right">First Name : </label>
                                <div class="col-sm-6">
                                    <input class="form-control col-sm-10" type="text" ng-model="accountData.first_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="input" class="col-sm-3 col-form-label" align="right">Last Name : </label>
                                <div class="col-sm-6">
                                    <input class="form-control col-sm-10" type="text" ng-model="accountData.last_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="input" class="col-sm-3 col-form-label" align="right">Email :</label>
                                <div class="col-sm-6">
                                    <input class="form-control col-sm-10" type="text" ng-model="accountData.email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="input" class="col-sm-3 col-form-label" align="right">Phone :</label>
                                <div class="col-sm-6">
                                    <input class="form-control col-sm-10" type="text" ng-model="accountData.phone">
                                </div>
                            </div>
                            <div class="add">
                                <div class="add-review ">
                                    <div class="form-row text-center">
                                        <div class="col-12">
                                            <button  ng-click="saveProduct()" class="btn btn-secondary btn-lg" >บันทึก</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    &nbsp;
</div>
<!-- footer -->
<div>{% include "footer.html" %}</div>
<!-- //footer -->
<script src="{% static 'js/components/profileTab.js' %}"></script>
<script src="{% static 'js/components/scrollDown.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
