{% load i18n static %}{% get_static_prefix as STATIC_PREFIX %}
<div class="footer">
                <div class="container">
                    <div class="row footer-grid">
                        <div class="clearfix"> </div>
                        <div class="col-md-5">
                            <h3>เกี่ยวกับเรา</h3>
                            <p>“เรื่องเครื่องสำอางมือสองไว้ใจเรา 2nd MakeUp เพราะเราคือสังคมการแชร์ส่งต่อเครื่องสำอางของคุณให้ถึงมือคนที่ต้องการ
                                เหมาะสำหรับการซื้อ-ขาย เครื่องสำอางมือสอง 2nd MakeUp จะรวบรวมเครื่องสำอางมือสองจากทุกคนไว้วางจำหน่าย และคุณสามารถร่วมเป็นส่วนหนึ่งกับเรา
                                โดยนำเครื่องสำอางบนโต๊ะเครื่องแป้งมาส่งต่อให้กับเพื่อนๆในนี้ได้เลย”</p>
                        </div>
                        <div class="col-md-3">
                            <h3>ติดต่อ</h3>
                            <ul>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block,<span>Bangkok City.</span></li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@2ndMakeUp.com</a></li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>+1234 567 567</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3>หมวดหมู่</h3>
                                <a href="/product/"><b>ผลิตภัณฑ์ดูแลผิวหน้า</b></a><br>
                               <a href="/product/"><b>เครื่องสำอางสำหรับผิวหน้า</b></a><br>
                               <a href="/product/"><b>เครื่องสำอางสำหรับดวงตา</b></a><br>
                                <a href="/product/"><b>ผลิตภัณฑ์สำหรับริมฝีปาก</b></a><br>
                               <a href="/product/"><b>อุปกรณ์เสริมความงาม</b></a><br>
                                <a href="/product/"><b>น้ำหอม</b></a><br>
                                <a href="/product/"><b>ผลิตภัณฑ์สำหรับผู้ชาย</b></a><br>
                            <a href="/product/"><b>อื่นๆ</b></a><br>


                        </div>
                            <div class="clearfix"> </div>
                        </div>
                    <div class="footer-logo">
                        <h2><a href="index.html">2nd MakeUp <span>shop anywhere</span></a></h2>
                    </div>
                    <div class="copy-right">
                        <p>&copy 2017 2ndMakeUp. All rights reserved.</p>
                    </div>
                </div>
            </div>