{% load i18n static %}{% get_static_prefix as STATIC_PREFIX %}
<div class="header">
		<nav class="container">
			<div class="header-grid">
				<div class="header-grid-right">
					<ul>
						<li><i class="fa fa-sign-in" aria-hidden="true"></i><a href="/login"> เข้าสู่ระบบ</a></li>
						<li class="active"><i class="fa fa-user-plus" aria-hidden="true"></i><a href="/account_register/"> ลงทะเบียน</a></li>
					</ul>
				</div>
				<div class="header-grid-left">
					<ul>
						<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com"> info@2ndMakeUp.com</a></li>
						<li><i class="fa fa-phone" aria-hidden="true"></i> +1234 567 892</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
            <nav class="navbar navbar-expand-lg navbar-light ">
              <a class="navbar-brand" href="/"><img src="{% static 'image/logo.png' %}"></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">หน้าแรก <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      หมวดหมู่
                    </a>
                    <ul class="dropdown-menu multi-column columns-3">
									<div class="row">
										<div class="col-sm-3">
											<ul class="multi-column-dropdown">
												<h6>ผลิตภัณฑ์ดูแลผิวหน้า&nbsp;&nbsp;&nbsp;</h6>
												<li><a href="products.html">ทำความสะอาดผิวหน้า</a></li>
												<li><a href="products.html">โทนเนอร์</a></li>
												<li><a href="products.html">ล้างเครื่องสำอาง</a></li>
												<li><a href="products.html">บำรุงผิวหน้า</a></li>
												<li><a href="products.html">บำรุงดวงตา</a></li>
												<li><a href="products.html">ทรีทเม้น&เซรั่ม</a></li>
												<li><a href="products.html">มาร์กหน้า</a></li>
												<li><a href="products.html">กันแดด</a></li>
												<li><a href="products.html">อื่นๆ</a></li>
											</ul>
										</div>
										<div class="col-sm-3">
											<ul class="multi-column-dropdown">
												<h6>เครื่องสำอางสำหรับผิวหน้า</h6>
												<li><a href="furniture.html">แป้งฝุ่นและแป้งอัดแข็ง</a></li>
												<li><a href="furniture.html">รองพื้น</a></li>
												<li><a href="furniture.html">บลัชออน</a></li>
												<li><a href="furniture.html">คอนซีลเลอร์</a></li>
												<li><a href="furniture.html">ไพรเมอร์</a></li>
												<li><a href="furniture.html">เฉดดิ้ง&ไฮไลท์</a></li>
												<li><a href="furniture.html">อื่นๆ</a></li>
											</ul>
										</div>
										<div class="col-sm-3">
											<ul class="multi-column-dropdown">
												<h6>เครื่องสำอางสำหรับดวงตา</h6>
												<li><a href="furniture.html">อายแชโดว์</a></li>
												<li><a href="furniture.html">อายไลเนอร์</a></li>
												<li><a href="furniture.html">ที่เขียนคิ้ว</a></li>
												<li><a href="furniture.html">มาสคาร่า</a></li>
												<li><a href="furniture.html">ขนตาปลอม</a></li>
												<li><a href="furniture.html">เทปกาวตาสองชั้น</a></li>
												<li><a href="furniture.html">อื่นๆ</a></li>
											</ul>
										</div>

										<div class="col-sm-3">
											<ul class="multi-column-dropdown">
												<h6>ผลิตภัณฑ์สำหรับริมฝีปาก</h6>
												<li><a href="products.html">ลิปสติก</a></li>
												<li><a href="products.html">ลิปบาล์ม</a></li>
												<li><a href="products.html">ลิปกลอส</a></li>
												<li><a href="products.html">ลิปทินท์</a></li>
												<li><a href="products.html">ดินสอเขียนขอบปาก</a></li>
												<li><a href="products.html">อื่นๆ</a></li>
											</ul>
										</div></div>
										<div class="row">
										<div class="col-sm-3">
											<ul class="multi-column-dropdown">
												<h6>อุปกรณ์เสริมความงาม</h6>
												<li><a href="products.html">อุปกรณ์ทำผม</a></li>
												<li><a href="products.html">อุปกรณ์แต่งหน้า</a></li>
												<li><a href="products.html">อุปกรณ์กำจัดขน</a></li>
												<li><a href="products.html">กล่องกระเป๋าเครื่องสำอาง</a></li>
												<li><a href="products.html">อื่นๆ</a></li>
											</ul>
										</div>

										<div class="col-sm-3">
											<ul class="multi-column-dropdown">
												<h6>น้ำหอม</h6>
												<li><a href="products.html">น้ำหอมผู้หญิง</a></li>
												<li><a href="products.html">อื่นๆ</a></li>
											</ul>
										</div>

										<div class="col-sm-3">
											<ul class="multi-column-dropdown">
												<h6>ผลิตภัณฑ์สำหรับผู้ชาย</h6>
												<li><a href="products.html">ผลิตภัณฑ์ดูแลผิวหน้า</a></li>
												<li><a href="products.html">น้ำหอมสำหรับผู้ชาย</a></li>
												<li><a href="products.html">อื่นๆ</a></li>
											</ul>
										</div>

										<div class="col-sm-3">
											<ul class="multi-column-dropdown">
												<h6>อื่นๆ</h6>
												<li><a href="products.html">อื่นๆ</a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">โปรโมชัน</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">ติดต่อ</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </nav>
            <nav class="header-right">
                <div class="cart box_1">
						<a href="checkout.html">
							<h3> <div class="total">
								<span class="simpleCart_total">฿</span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</div>
								<img src="{% static 'image/bag.png' %}" alt="" />
							</h3>
						</a>
						<div class="clearfix"> </div>
					</div>
            </nav>
		</div>
	</div>

