{% load i18n static %}{% get_static_prefix as STATIC_PREFIX %}
<div class="header">
		<div class="container">
			<div class="header-grid">
				<div class="header-grid-right">
					<ul>
                        {% if user.is_authenticated %}
						    <li><i class="fa fa-sign-in" aria-hidden="true"></i><a href="/logout"> ออกจากระบบ</a></li>
                        {% else %}
                            <li class="active"><i class="fa fa-sign-in" aria-hidden="true"></i><a href="/login"> เข้าสู่ระบบ</a></li>
                            <li class="active"><i class="fa fa-user-plus" aria-hidden="true"></i><a href="/signup"> ลงทะเบียน</a></li>

                        {% endif %}
					</ul>
				</div>
				<div class="header-grid-left">
					<ul>
                        {% if user.is_authenticated %}
                            <li class="active"><i class="fa fa-user" aria-hidden="true"></i> <a href="/profile">{{ request.user}}</a></li>
                        {% endif %}
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
            <nav class="navbar navbar-expand-lg navbar-light ">
              <a class="navbar-brand" href="/"><img src="{% static 'image/logo.png' %}"></a>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">หน้าแรก <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      หมวดหมู่
                    </a>
                    <ul class="dropdown-menu multi-column columns-3">
									<div class="row">
										<div class="col-sm-3">
											<ul class="multi-column-dropdown">
												<h6>ผลิตภัณฑ์ดูแลผิวหน้า&nbsp;&nbsp;&nbsp;</h6>
												<li><a href="product/">ทำความสะอาดผิวหน้า</a></li>
												<li><a href="product/">โทนเนอร์</a></li>
												<li><a href="product/">ล้างเครื่องสำอาง</a></li>
												<li><a href="product/">บำรุงผิวหน้า</a></li>
												<li><a href="product/">บำรุงดวงตา</a></li>
												<li><a href="product/">ทรีทเม้น&เซรั่ม</a></li>
												<li><a href="product/">มาร์กหน้า</a></li>
												<li><a href="product/">กันแดด</a></li>
												<li><a href="product/">อื่นๆ</a></li>
											</ul>
										</div>
										<div class="col-sm-3">
											<ul class="multi-column-dropdown">
												<h6>เครื่องสำอางสำหรับผิวหน้า</h6>
												<li><a href="product/">แป้งฝุ่นและแป้งอัดแข็ง</a></li>
												<li><a href="product/">รองพื้น</a></li>
												<li><a href="product/">บลัชออน</a></li>
												<li><a href="product/">คอนซีลเลอร์</a></li>
												<li><a href="product/">ไพรเมอร์</a></li>
												<li><a href="product/">เฉดดิ้ง&ไฮไลท์</a></li>
												<li><a href="product/">อื่นๆ</a></li>
											</ul>
										</div>
										<div class="col-sm-3">
											<ul class="multi-column-dropdown">
												<h6>เครื่องสำอางสำหรับดวงตา</h6>
												<li><a href="product/">อายแชโดว์</a></li>
												<li><a href="product/">อายไลเนอร์</a></li>
												<li><a href="product/">ที่เขียนคิ้ว</a></li>
												<li><a href="product/">มาสคาร่า</a></li>
												<li><a href="product/">ขนตาปลอม</a></li>
												<li><a href="product/">เทปกาวตาสองชั้น</a></li>
												<li><a href="product/">อื่นๆ</a></li>
											</ul>
										</div>

										<div class="col-sm-3">
											<ul class="multi-column-dropdown">
												<h6>ผลิตภัณฑ์สำหรับริมฝีปาก</h6>
												<li><a href="product/">ลิปสติก</a></li>
												<li><a href="product/">ลิปบาล์ม</a></li>
												<li><a href="product/">ลิปกลอส</a></li>
												<li><a href="product/">ลิปทินท์</a></li>
												<li><a href="product/">ดินสอเขียนขอบปาก</a></li>
												<li><a href="product/">อื่นๆ</a></li>
											</ul>
										</div></div>
										<div class="row">
										<div class="col-sm-3">
											<ul class="multi-column-dropdown">
												<h6>อุปกรณ์เสริมความงาม</h6>
												<li><a href="product/">อุปกรณ์ทำผม</a></li>
												<li><a href="product/">อุปกรณ์แต่งหน้า</a></li>
												<li><a href="product/">อุปกรณ์กำจัดขน</a></li>
												<li><a href="product/">กล่องกระเป๋าเครื่องสำอาง</a></li>
												<li><a href="product/">อื่นๆ</a></li>
											</ul>
										</div>

										<div class="col-sm-3">
											<ul class="multi-column-dropdown">
												<h6>น้ำหอม</h6>
												<li><a href="product/">น้ำหอมผู้หญิง</a></li>
												<li><a href="product/">อื่นๆ</a></li>
											</ul>
										</div>

										<div class="col-sm-3">
											<ul class="multi-column-dropdown">
												<h6>ผลิตภัณฑ์สำหรับผู้ชาย</h6>
												<li><a href="product/">ผลิตภัณฑ์ดูแลผิวหน้า</a></li>
												<li><a href="product/">น้ำหอมสำหรับผู้ชาย</a></li>
												<li><a href="product/">อื่นๆ</a></li>
											</ul>
										</div>

										<div class="col-sm-3">
											<ul class="multi-column-dropdown">
												<h6>อื่นๆ</h6>
												<li><a href="product/">อื่นๆ</a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">โปรโมชัน</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">ติดต่อ</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </nav>
{#            <div class="header-right">#}
{#                <div class="cart box_1">#}
{#						<a href="checkout.html">#}
{#							<h3> <div class="total">#}
{#								<span class="simpleCart_total">฿</span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</div>#}
{#								<img src="{% static 'image/bag.png' %}" alt="" />#}
{#							</h3>#}
{#						</a>#}
{#						<div class="clearfix"> </div>#}
{#					</div>#}
{#            </div>#}
		</div>
	</div>

