{% load static %}
<!DOCTYPE html>
<html lang="en">
<script src="{% static 'js/components/angular.min.js' %}"></script>
<script src="{% static 'js/components/simpleCart.min.js'%}"></script>
<script src="{% static 'js/controllers/loginCtrl.js' %}"></script>
<script src="{% static 'js/controllers/productCtrl.js' %}"></script>
<script src="{% static 'js/components/jquery.wmuSlider.js'%}"></script>
<script src="{% static 'js/components/jquery.flexslider.js'%}"></script>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>2nd MakeUp</title>
</head>
<body>
<!-- header -->
    <div>{% include "header.html" %}</div>
<!-- //header -->
<!-- breadcrumbs -->
    <div class="breadcrumbs">
		<div class="container">
              <ol class="breadcrumb breadcrumb1">
                <li class="breadcrumb-item"><a href="/"><span class="fa fa-home" aria-hidden="true"></span>หน้าแรก </a></li>


				<!--<li class="breadcrumb-item active"></li>-->
              </ol>
		</div>
    </div>
<!-- //breadcrumbs -->
<!-- banner -->
 {{ request.user }}<a class="btn btn-primary" href="http://localhost:8000/logout/" role="button">LogOut</a>
	<div class="banner">
		<div class="container">
			<div class="banner-info">
				<h3>2nd MakeUp</h3>
				<h4>มอบสิทธิพิเศษ <span>ลด <i>10%</i></span></h4>
				<div class="wmuSlider example1">
					<div class="wmuSliderWrapper">
						<article style="position: absolute; width: 100%; opacity: 0;">
							<div class="banner-wrap">
								<div class="banner-info1">
									<p>*สำหรับการสั่งซื้อสินค้าครั้งแรก</p>
								</div>
							</div>
						</article>
						<article style="position: absolute; width: 100%; opacity: 0;">
							<div class="banner-wrap">
								<div class="banner-info1">
									<p>*สำหรับการสมัครครั้งแรก</p>
								</div>
							</div>
						</article>
						<article style="position: absolute; width: 100%; opacity: 0;">
							<div class="banner-wrap">
								<div class="banner-info1">
									<p>*สำหรับเดือนมกราคมนี้</p>
								</div>
							</div>
						</article>
					</div>
				</div>
					<script>
						$('.example1').wmuSlider();
					</script>
			</div>
		</div>
	</div>
<!-- //banner -->
<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="banner-bottom-grids">
				<div class="banner-bottom-grid-left">
					<div class="grid">
						<figure class="effect-julia">
							<img src="{% static 'image/4.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>
								<h3>2nd <span>MakeUp</span><i> in online shopping</i></h3>
								<div>
									<p>ช่องทางการซื้อและขายเครื่องสำอางมือสอง</p>
									<p>แหล่งรวมของเครื่องสำอางมือสอง</p>
									<p>เชื่อถือได้ ไว้ใจเรา</p>
								</div>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="banner-bottom-grid-left1">
					<div class="banner-bottom-grid-left-grid left1-grid grid-left-grid1">
						<div class="banner-bottom-grid-left-grid1">
							<img src="{% static 'image/1.jpg' %}" alt=" " class="img-responsive" />
						</div>
						<div class="banner-bottom-grid-left1-pos">
							<p>ส่วนลด 45%</p>
						</div>
					</div>
					<div class="banner-bottom-grid-left-grid left1-grid grid-left-grid1">
						<div class="banner-bottom-grid-left-grid1">
							<img src="{% static 'image/2.jpg' %}" alt=" " class="img-responsive" />
						</div>
						<div class="banner-bottom-grid-left1-position">
							<div class="banner-bottom-grid-left1-pos1">
								<p>สินค้ามาใหม่ในเดือนนี้</p>
							</div>
						</div>
					</div>
				</div>
				<div class="banner-bottom-grid-right">
					<div class="banner-bottom-grid-left-grid grid-left-grid1">
						<div class="banner-bottom-grid-left-grid1">
							<img src="{% static 'image/3.jpg' %}" alt=" " class="img-responsive" />
						</div>
						<div class="grid-left-grid1-pos">
							<p>น้ำหอมยอดนิยม<span>ในปี2017</span></p>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //banner-bottom -->
<!-- collections -->
	<div class="new-collections" >
		<div class="container">
			<h3>สินค้าแนะนำ</h3>

			<div class="new-collections-grids" ng-app="app" ng-controller="productCtrl">
				<div class="col-md-3 new-collections-grid">
					<div class="new-collections-grid1 ">
						<div class="new-collections-grid1-image">
							<a href="product/" class="product-image"><img src="[[products[0].first_image_url]]" alt=" " class="img-responsive" /></a>
							<div class="new-collections-grid1-image-pos">
								<a href="single.html">ดูรายละเอียด</a>
							</div>
							<div class="new-collections-grid1-right">
								<div class="rating">
									<div class="rating-left">
										<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>
						<h4><a href="single.html">[[products[0].name]]</a></h4>

						<div class="new-collections-grid1-left simpleCart_shelfItem">
							<p><i>599฿</i> <span class="item_price">[[products[0].price]]</span><a class="item_add" href="#">เพิ่มลงในตะกร้า</a></p>
						</div>
					</div>
					<div class="new-collections-grid1">
						<div class="new-collections-grid1-image">
							<a href="single.html" class="product-image"><img src="[[products[1].first_image_url]]" alt=" " class="img-responsive" /></a>
							<div class="new-collections-grid1-image-pos">
								<a href="single.html">ดูรายละเอียด</a>
							</div>
							<div class="new-collections-grid1-right">
								<div class="rating">
									<div class="rating-left">
										<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/1.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/1.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/1.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>
						<h4><a href="single.html">[[products[1].name]]</a></h4>

						<div class="new-collections-grid1-left simpleCart_shelfItem">
							<p><i>250฿</i> <span class="item_price">[[products[1].price]] ฿</span><a class="item_add" href="#">เพิ่มลงในตะกร้า</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-6 new-collections-grid">
					<div class="new-collections-grid1 new-collections-grid1-image-width ">
						<div class="new-collections-grid1-image">
							<a href="single.html" class="product-image"><img src="[[products[2].first_image_url]]" alt=" " class="img-responsive" /></a>
							<div class="new-collections-grid1-image-pos new-collections-grid1-image-pos1">
								<a href="single.html">ดูรายละเอียด</a>
							</div>
							<div class="new-collections-grid1-right new-collections-grid1-right-rate">
								<div class="rating">
									<div class="rating-left">
										<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/1.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/1.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="new-one">
								<p>ใหม่</p>
							</div>
						</div>
						<h4><a href="single.html">[[products[2].name]]</a></h4>

						<div class="new-collections-grid1-left simpleCart_shelfItem">
							<p><i>279฿</i> <span class="item_price">[[products[2].price]] ฿</span><a class="item_add" href="#">เพิ่มลงในตะกร้า</a></p>
						</div>
					</div>
{#					<div class="new-collections-grid-sub-grids">#}
{#						<div class="new-collections-grid1-sub">#}
{#							<div class="new-collections-grid1 ">#}
{#								<div class="new-collections-grid1-image">#}
{#									<a href="single.html" class="product-image"><img src="[[products[3].first_image_url]]" alt=" " class="img-responsive" /></a>#}
{#									<div class="new-collections-grid1-image-pos">#}
{#										<a href="single.html">ดูรายละเอียด</a>#}
{#									</div>#}
{#									<div class="new-collections-grid1-right">#}
{#										<div class="rating">#}
{#											<div class="rating-left">#}
{#												<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />#}
{#											</div>#}
{#											<div class="rating-left">#}
{#												<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />#}
{#											</div>#}
{#											<div class="rating-left">#}
{#												<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />#}
{#											</div>#}
{#											<div class="rating-left">#}
{#												<img src="{% static 'image/1.png' %}" alt=" " class="img-responsive" />#}
{#											</div>#}
{#											<div class="rating-left">#}
{#												<img src="{% static 'image/1.png' %}" alt=" " class="img-responsive" />#}
{#											</div>#}
{#											<div class="clearfix"> </div>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#								<h4><a href="single.html">[[products[3].name]]</a></h4>#}
{##}
{#								<div class="new-collections-grid1-left simpleCart_shelfItem">#}
{#									<p><i>435฿</i> <span class="item_price">[[products[3].price]] ฿</span><a class="item_add" href="#">เพิ่มลงในตะกร้า</a></p>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
						<div class="new-collections-grid1-sub">
							<div class="new-collections-grid1">
								<div class="new-collections-grid1-image">
									<a href="single.html" class="product-image"><img src="{% static 'image/9.jpg' %}" alt=" " class="img-responsive" /></a>
									<div class="new-collections-grid1-image-pos">
										<a href="single.html">ดูรายละเอียด</a>
									</div>
									<div class="new-collections-grid1-right">
										<div class="rating">
											<div class="rating-left">
												<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
											</div>
											<div class="rating-left">
												<img src="{% static 'image/1.png' %}" alt=" " class="img-responsive" />
											</div>
											<div class="rating-left">
												<img src="{% static 'image/1.png' %}" alt=" " class="img-responsive" />
											</div>
											<div class="rating-left">
												<img src="{% static 'image/1.png' %}" alt=" " class="img-responsive" />
											</div>
											<div class="rating-left">
												<img src="{% static 'image/1.png' %}" alt=" " class="img-responsive" />
											</div>
											<div class="clearfix"> </div>
										</div>
									</div>
								</div>
								<h4><a href="single.html">Lucas Papaw Ointment 25g บาล์มสารพัดประโยชน์</a></h4>

								<div class="new-collections-grid1-left simpleCart_shelfItem">
									<p><i>230฿</i> <span class="item_price">100฿</span><a class="item_add" href="#">เพิ่มลงในตะกร้า</a></p>
								</div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-3 new-collections-grid">
					<div class="new-collections-grid1 ">
						<div class="new-collections-grid1-image">
							<a href="single.html" class="product-image"><img src="{% static 'image/10.jpg' %}" alt=" " class="img-responsive" /></a>
							<div class="new-collections-grid1-image-pos">
								<a href="single.html">ดูรายละเอียด</a>
							</div>
							<div class="new-collections-grid1-right">
								<div class="rating">
									<div class="rating-left">
										<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/1.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/1.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>
						<h4><a href="single.html">Collection Perfectingconcealer4G N1Fair</a></h4>

						<div class="new-collections-grid1-left simpleCart_shelfItem">
							<p><i>279฿</i> <span class="item_price">139฿</span><a class="item_add" href="#">เพิ่มลงในตะกร้า</a></p>
						</div>
					</div>
					<div class="new-collections-grid1">
						<div class="new-collections-grid1-image">
							<a href="single.html" class="product-image"><img src="{% static 'image/11.jpg' %}" alt=" " class="img-responsive" /></a>
							<div class="new-collections-grid1-image-pos">
								<a href="single.html">ดูรายละเอียด</a>
							</div>
							<div class="new-collections-grid1-right">
								<div class="rating">
									<div class="rating-left">
										<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="rating-left">
										<img src="{% static 'image/1.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>
						<h4><a href="single.html">Revlon Colorstay Makeup Foundation</a></h4>

						<div class="new-collections-grid1-left simpleCart_shelfItem">
							<p><i>580฿</i> <span class="item_price">435฿</span><a class="item_add" href="#">เพิ่มลงในตะกร้า</a></p>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //collections -->
<!-- new-timer -->
	<div class="timer">
		<div class="container">
			<div class="timer-grids">
				<div class="col-md-8 timer-grid-left">
					<h3><a href="products.html">Purevivi Cleansing Lotion</a></h3>
					<div class="rating">
						<div class="rating-left">
							<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
						</div>
						<div class="rating-left">
							<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
						</div>
						<div class="rating-left">
							<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
						</div>
						<div class="rating-left">
							<img src="{% static 'image/2.png' %}" alt=" " class="img-responsive" />
						</div>
						<div class="rating-left">
							<img src="{% static 'image/1.png' %}" alt=" " class="img-responsive" />
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="new-collections-grid1-left simpleCart_shelfItem timer-grid-left-price">
						<p><i>490฿</i> <span class="item_price">390฿</span></p>
						<h4>เพียววีวี่ คลีนซิ่งโลชั่น ผลิตภัณฑ์ทำความสะอาดผิวหน้าและรอบดวงตาน้องใหม่จากญี่ปุ่นที่กำลังได้รับความนิยมเป็นอย่างมาก
							จากสาวๆทั้งในญี่ปุ่น ไต้หวันและอเมริกา  ด้วยส่วนประกอบหลักที่เป็นน้ำมากกว่า 80% ปราศจากน้ำมัน ไม่มีแอลกอฮอล์ ไม่ใส่สี
							ไม่มีน้ำหอม ไม่มีสารลดแรงตึง และไม่ผสมพาราเบน จึงทำให้ เพียววีวี่ อ่อนโยนต่อใบหน้า แม้ผิวบอบบางแพ้ง่าย  ซึมซาบเร็ว
							ไม่เหนียวเหนอะหนะ ทั้งยังอุดมไปด้วยสารสกัดจากผลไม้หลากหลายชนิด เช่น แอปเปิ้ล ส้ม และมะนาวเป็นต้น
							ที่ช่วยดูแลผิวหน้าให้สะอาด กระจ่างใส พร้อมคืนความชุ่มชื้นให้ผิวหน้าด้วยสารสกัดจากว่านหางจระเข้และไฮยารูรอนอีกด้วย
							เพียววีวี่ คลีนซิ่งโลชั่น ผลิตภัณฑ์ล้างเครื่องสำอาง ที่ทำความสะอาดผิวหน้าและรอบดวงตา พร้อมคืนความชุ่มชื้นให้แก่คุณ
							โดยไม่จำเป็นต้องล้างออก ด้วยคุณสมบัติพิเศษสามารถล้างมาสคาร่าออกได้ เพียงแปะทิ้งไว้ไม่กี่วินาที</h4>
						<p><a class="item_add timer_add" href="#">เพิ่มลงในตะกร้า</a></p>
					</div>
					<div id="counter"> </div>
					<script src="js/jquery.countdown.js"></script>
					<script src="js/script.js"></script>
				</div>
				<div class="col-md-4 timer-grid-right" >
					<div class="timer-grid-right1">
						<img src="{% static 'image/17.jpg' %}" alt=" " class="img-responsive" />
						<div class="timer-grid-right-pos">
							<h4>ลดราคาพิเศษ</h4>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //new-timer -->
<!-- collections-bottom -->
	<div class="collections-bottom">
		<div class="container">
			<div class="collections-bottom-grids">
				<div class="collections-bottom-grid "  >
					<h3>ลดราคาพิเศษ 20%<span>สำหรับน้ำหอมผู้หญิง</span></h3>
				</div>
			</div>
            </div>
	</div>
<!-- footer -->
    <div>{% include "footer.html" %}</div>
<!-- //footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>