{% load static %}
<!DOCTYPE html>
<html lang="en">
<script src="{% static 'js/components/angular.min.js' %}"></script>
<script src="{% static 'js/components/simpleCart.min.js' %}"></script>
<script src="{% static 'js/controllers/loginCtrl.js' %}"></script>
<script src="{% static 'js/controllers/homeCtrl.js' %}"></script>
<script src="{% static 'js/components/jquery.wmuSlider.js' %}"></script>
<script src="{% static 'js/components/jquery.flexslider.js' %}"></script>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>2nd MakeUp</title>
    <!-- script banner -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- script banner -->
</head>
<body>
<!-- header -->
<div>{% include "header.html" %}</div>
<!-- //header -->
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1">
            <li class="breadcrumb-item"><a href="/"><span class="fa fa-home" aria-hidden="true"></span>หน้าแรก </a></li>
            <!--<li class="breadcrumb-item active"></li>-->
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- banner -->
<div class="d-flex flex-column">
    {#  <div class="p-2">Flex item 1</div>#}
    <div>{% include "banner.html" %}</div>
</div>
<!-- //banner -->
<div style="background: #F7F7F9">
    <p>&nbsp;</p>
    <div class="container">
        <table width="80%" border="0" align="center" cellpadding="5" cellspacing="5">
            <tr>
                <td rowspan="2">
                    <img src="{% static 'image/4.jpg' %}" width="339" height="443" class="img-responsive" />
                </td>
                <td><img src="{% static 'image/1.jpg' %}" width="343" height="212" /></td>
                <td rowspan="2"><img src="{% static 'image/3.jpg' %}" width="335" height="440" /></td>
            </tr>
            <tr>
                <td><img src="{% static 'image/2.jpg' %}" width="342" height="211" /></td>
            </tr>
        </table>
    </div>
    <!-- //banner-bottom -->
    <div class="container"><br><br><hr color="#F7F7F9"></div>
    <!-- collections -->
    <div class="new-collections">
        <div class="container">
            <h3>สินค้าแนะนำ</h3>
            <div ng-app="app" ng-controller="homeCtrl">
                <div class="row">
                    <div class="list-group card-deck col-md-3" ng-repeat="product in products">
                        <a href="/single/[[product.id]]">
                            <div class="list-group-item" style="max-height: 45rem;"
                                 onclick="window.location = '/single/'">
                                <div>
                                    <img class="card-img-top" src="[[product.first_image_url]]"
                                         alt="[[product.first_image_url]]" style="width: 15rem; height: 15rem;">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">[[product.name]]</h4>
                                    <p class="card-text"><b>Freight:</b> [[product.freight_detail]]</p>
                                    <p class="card-text"><b>Freight Fee:</b> [[product.freight_fee]] ฿</p>
                                    <p class="card-text"><b>Price:</b> [[product.price]] ฿</p>
                                    <p class="card-text">
                                        <small class="text-muted">[[product.date_of_sale]] [[product.id]]</small>
                                    </p>
                                    <div class="container">
                                        <hr>
                                    <button class="btn btn-secondary btn-sm">ดูรายละเอียด</button>
                                    <button class="btn btn-secondary btn-sm">เพิ่มลงตระกร้า</button>
                                    </div>
                                </div>
                            </div>
                            {#              <p>[[ product.name ]]</p> <img ng-repeat="image in product.images" src="[[image.image]]">#}
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- //collections -->

<!-- footer -->
<div>{% include "footer.html" %}</div>
<!-- //footer -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>
</html>