{% load static %}
<!DOCTYPE html>
<html lang="en">
<script src="{% static 'js/components/angular.min.js' %}"></script>
<script src="{% static 'js/controllers/productCreateCtrl.js' %}"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div form="createForm" ng-app="productCreateApp" ng-controller="productCreateCtrl">
    <small>Name</small>[[mama]]
    <input type="text" placeholder="Name" ng-model="product.name" value="1">
    <small>Freight</small>
    <!--select ng-model="freight" ng-init="freight='register'" ng-options="f for f in fTypes"></select-->
    <small>Image</small>
    <input type="file" multiple ng-files="getTheFiles($files)">
    <input type="text" placeholder="freight" ng-model="product.freight" value="1">
    <input type="text" placeholder="price" ng-model="product.price" value="1">
    <input type="text" placeholder="status" ng-model="product.status" value="1">
    <input type="text" placeholder="freight_fee" ng-model="product.freight_fee" value="1">
    <input type="text" placeholder="seller_id" ng-model="product.seller_id" value="1">
    <div ng-repeat="(i, name) in prod track by $index">
        <input type="text" ng-model="prod_value[i]">
    </div>


    <button ng-click="clicky()">Click!!!</button>
</div>
</body>
</html>