{% load static %}
<!DOCTYPE html>
<html lang="en">
<script src="{% static 'js/components/angular.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/controllers/productCtrl.js' %}"></script>

<div ng-app="app">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Single</title>
</head>
<body>
<!-- header -->
<div>{% include "header.html" %}</div>
<!-- //header -->
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1">
            <li class="breadcrumb-item"><a href="/"><span class="fa fa-home" aria-hidden="true"></span>หน้าแรก</a></li>
            <li class="breadcrumb-item"><a href="/product">สินค้า</a></li>
            <li class="breadcrumb-item active">{{ product.name }}</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<div class="container" ng-controller="productCtrl" ng-init="getId({{ product_id }})">

    <table width="80%" height="1101" border="0" align="center" cellpadding="2" cellspacing="2">
        <tr>
            <td width="479" height="1097">
                <table width="372" border="0" cellpadding="2" cellspacing="2">
                    <tr>
                        <td height="541" colspan="5"><img src="[[product.first_image_url]]" name="i0" width="466"
                                                          height="534" id="i0"/></td>
                    </tr>
                    <tr>
                        <td width="86" height="124" ><img src="[[product.image]]" name="i1" width="86" height="120" id="i1" onmouseover="MM_swapImage('i0','','../Documents/web_project/images/si.jpg',1)" /></td>
                    </tr>
                </table>
                <table width="474" height="367" border="0" align="center" cellpadding="2" cellspacing="2">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <p>&nbsp;</p>
            </td>

            <td width="593">
                <table width="500" height="1074" border="0" align="center" cellpadding="0" cellspacing="5">
                    <tr>
                        <td height="71" >
                            <div class="single-right-left" style="font-size: 60px; color: #FF766D;">[[product.name]]</div>
                        </td>
                    </tr>
                    <tr>
                        <td height="50" valign="top">
                            <div class="single-right-left" style="color: #999;"><b>ราคาสินค้า:</b><h4> [[product.price]] Baht</h4></div>
                        </td>
                    </tr>
                    <tr>
                        <td height="40">
                                <b>การจัดส่ง</b>
                                <p><b>รูปแบบการจัดส่ง :</b> [[product.freight_detail]]</p>
                                <p><b>ค่าจัดส่ง :</b> [[product.freight_fee]] Baht</p>
                                <div class="clearfix"></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="margin-top: 50px; margin-bottom: 0px;">
                            <div class="occasion-cart">
                                <a class="item_add" href="#">เพิ่มลงในตะกร้า</a>
                                <a class="item_add" href="checkout.html">ซื้อสินค้า</a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="social">
                                <div class="social-left">
                                    <p>เสนอราคา :</p>
                                </div>
                                <div class="add-review">
                                    <form>
                                        <input type="text" value="" onfocus="this.value = '';"
                                               onblur="if (this.value == '') {this.value = 'offer';}" required="">
                                        <input type="submit" value="เสนอ">
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td valign="top">
                            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="nav-item">
                                        <a class="nav-link" href="#home" id="home-tab" role="tab" data-toggle="tab"
                                           aria-controls="home" aria-expanded="true" >รายละเอียด</a>
                                    </li>
                                    <li role="presentation" class="nav-item">
                                        <a class="nav-link" href="#profile" role="tab" id="profile-tab"
                                           data-toggle="tab" aria-controls="profile">ร้านค้า</a>
                                    </li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="home"
                                         aria-labelledby="home-tab">
                                        <table class="table table-bordered">
                                            <tbody>
                                            <tr>
                                                <th scope="row">Category :</th>
                                                <td>[[ product.category ]]</td>
                                            </tr>
                                            <tr ng-repeat="x in properties">
                                                <th scope="row">[[ x ]] :</th>
                                                <td>[[ product.property[x] ]]</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="profile"
                                         aria-labelledby="profile-tab">
                                        <div class="bootstrap-tab-text-grids">
                                            <div class="bootstrap-tab-text-grid">
                                                <div class="bootstrap-tab-text-grid-left">
                                                    <div class="bootstrap-tab-text-grid-right">
                                                        <table class="table table-bordered">
                                                            <tbody>
                                                            <tr>
                                                                <ul>
                                                                    <th scope="row">ชื่อร้าน :</th>
                                                                    <td>
                                                                        <a href="#">{{ request.user.account.id }}</a>
                                                                    </td>
                                                                </ul>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">คะแนนร้าน :</th>
                                                                <td>
                                                                    <div class="rating1">
                                                                        <span class="starRating">
                                                                          <input id="rating5" type="radio" name="rating" value="5">
                                                                          <label for="rating5">5</label>
                                                                          <input id="rating4" type="radio" name="rating" value="4">
                                                                          <label for="rating4">4</label>
                                                                          <input id="rating3" type="radio" name="rating" value="3" checked>
                                                                          <label for="rating3">3</label>
                                                                          <input id="rating2" type="radio" name="rating" value="2">
                                                                          <label for="rating2">2</label>
                                                                          <input id="rating1" type="radio" name="rating" value="1">
                                                                          <label for="rating1">1</label>
                                                                        </span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                </table>
            </td>
    </table>

</div>

<!-- footer -->
<div>{% include "footer.html" %}</div>
<!-- //footer -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>


</body>
</div>
</html>