{% load static %}
<!DOCTYPE html>
<html lang="en">
<script src="{% static 'js/components/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/components/angular.min.js' %}"></script>
<script src="{% static 'js/controllers/loginCtrl.js' %}"></script>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
</head>
<body>
   <!-- header -->
    <div>{% include "header.html" %}</div>
    <!-- //header -->
   <!-- breadcrumbs -->
    <div class="breadcrumbs">
		<div class="container">
              <ol class="breadcrumb breadcrumb1">
                <li class="breadcrumb-item"><a href="/"><span class="fa fa-home" aria-hidden="true"></span>หน้าแรก</a></li>
				<li class="breadcrumb-item active">เข้าสู่ระบบ</li>
              </ol>
		</div>
    </div>
<!-- //breadcrumbs -->
   <!-- login -->

    <div class="login" ng-app="app" ng-controller="logInCtrl" >
        <div class="container">
            <h3>เข้าสู่ระบบ</h3>
                <div class="login-form-grids">
                    <form>
                        <input class="form-control" type="text" ng-model="username" placeholder="Enter Username">
                        <input class="form-control" type="password" ng-model="password" placeholder="Enter Password">
                        <input type="submit" value="เข้าสู่ระบบ" ng-click="clicker()">
                    </form>
                </div>
        </div>
    </div>
   <!-- login -->
    <!-- footer -->
    <div>{% include "footer.html" %}</div>
    <!-- //footer -->
</body>
</html>