{% load static %}

<!DOCTYPE html>
<html lang="en">
<script src="{% static 'js/components/angular.min.js' %}"></script>
<script src="{% static 'js/controllers/loginCtrl.js' %}"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ request.user }}
    <div ng-app="app" ng-controller="logInCtrl">
        <p>Sign In</p>
        <p>Username: <input type="text" ng-model="username"></p>
        <p>Password: <input type="text" ng-model="password"></p>
        <button ng-click="clicker()">Login</button>
        <button ng-click="logout()">LogOut(user logged in: [[ userLoggedIn ]])</button>
        [[ mama ]]
    </div>

</body>
</html>